/* Header.css */
.header {
  padding: 1rem 0;
  position: fixed;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  border-radius: 200px;
  width: auto; /* Changed from 60% to auto to adjust dynamically based on content */
  min-width: 60%; /* Ensures a minimum width for the dark area */
  height: 5.5%;
  display: flex;
  align-items: center; /* Centers the nav content vertically */
  padding-left: 2rem; /* Add padding to the left side of the header */
  padding-right: 2rem; /* Add padding to the right side of the header */
}

.header.scrolled {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
}

/* Container Styles */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

/* Logo Styles */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 210px;
  width: auto;
  transition: 0.2s ease;
  opacity: 90%;
  padding-top: 18px;
}

.logo :hover {
  scale: 107%;
}

/* Navigation Styles */
nav {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav-list {
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;
}

.nav-list.left {
  margin-right: auto;
}

.nav-list.right {
  margin-left: auto;
}

.nav-item {
  position: relative;
  list-style-type: none;
}

.nav-link {
  font-size: 1.25rem;
  color: #ffffff;
  transition: all 0.3s ease;
  position: relative;
  text-decoration: none;
  list-style-type: none;
}

.nav-link:hover {
  color: #57e0ff;
}

/* Underline effect */
.underline {
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #5fb0e7;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-item:hover .underline {
  transform: scaleX(1);
}

/* Additional Mobile responsiveness */
@media (max-width: 976px) {
  .header {
    height: auto;
    padding: 0.75rem;
  }

  .container {
    gap: 1.5rem; /* Reduced gap to move nav closer to logo */
  }

  .nav-list {
    flex-direction: column; /* Stack the nav items */
    gap: 1.3rem; /* Reduced gap between stacked items */
    align-items: center; /* Center the items horizontally */
  }

  .nav-link {
    font-size: 1rem; /* Smaller font size for mobile */
  }

  .logo img {
    height: 100px;
  }

  nav {
    gap: 1rem;
  }
}
